In [120]:
import pandas as pd

In [121]:
df = pd.read_csv('Sold_Updated.csv')

In [122]:
df['SoldDate'] = pd.to_datetime(df['SoldDate'], errors='coerce', format='%m/%d/%Y')

# Convert date column to datetime format with YYYY-MM-DD format
df['SoldDate'] = pd.to_datetime(df['SoldDate'], errors='coerce')

df

,PropPrice,SoldDate,LivingArea,LandArea,Bedrooms,Bathrooms,Address,City,Zip
0,537000,2024-02-20,1700.0,6416.00,3.0,2.0,4681 W Oakland St,Chandler,85226
1,275000,2024-02-19,1272.0,7532.00,4.0,3.0,244 N Delaware St,Chandler,85225
2,368000,2024-02-19,1304.0,9492.00,2.0,2.0,1581 E Cherry Hills Dr,Chandler,85249
3,590000,2024-02-19,2090.0,8586.00,3.0,2.0,3703 W Shannon St,Chandler,85226
4,465000,2024-02-16,1342.0,8028.00,3.0,2.0,4808 W Gail Dr,Chandler,85226
...,...,...,...,...,...,...,...,...,...
4869,465000,2023-12-29,1527.0,5227.20,3.0,3.0,330 NE 132nd Ct,Portland,97230
4870,485000,2023-12-29,2780.0,0.34,5.0,2.0,6215 SW 32nd Ave,Portland,97239
4871,400000,2023-12-29,2048.0,8276.40,3.0,2.0,12412 NE Wasco St,Portland,97230
4872,439000,2023-12-29,1423.0,6534.00,4.0,2.0,8025 NE Going St,Portland,97218
4873,330000,NaT,848.0,NaN,2.0,1.0,8424 NE Humboldt St,Portland,97220

In [123]:
df = df.dropna()
df

,PropPrice,SoldDate,LivingArea,LandArea,Bedrooms,Bathrooms,Address,City,Zip
0,537000,2024-02-20,1700.0,6416.00,3.0,2.0,4681 W Oakland St,Chandler,85226
1,275000,2024-02-19,1272.0,7532.00,4.0,3.0,244 N Delaware St,Chandler,85225
2,368000,2024-02-19,1304.0,9492.00,2.0,2.0,1581 E Cherry Hills Dr,Chandler,85249
3,590000,2024-02-19,2090.0,8586.00,3.0,2.0,3703 W Shannon St,Chandler,85226
4,465000,2024-02-16,1342.0,8028.00,3.0,2.0,4808 W Gail Dr,Chandler,85226
...,...,...,...,...,...,...,...,...,...
4868,500000,2023-12-29,1636.0,0.30,4.0,2.0,2544 SE 153rd Ave,Portland,97236
4869,465000,2023-12-29,1527.0,5227.20,3.0,3.0,330 NE 132nd Ct,Portland,97230
4870,485000,2023-12-29,2780.0,0.34,5.0,2.0,6215 SW 32nd Ave,Portland,97239
4871,400000,2023-12-29,2048.0,8276.40,3.0,2.0,12412 NE Wasco St,Portland,97230
4872,439000,2023-12-29,1423.0,6534.00,4.0,2.0,8025 NE Going St,Portland,97218

In [124]:
#getting rid of extra chandler zipcodes & keeping only one zip code per city
zipcodes_to_keep = [85225, 97229, 11368, 33186, 90210, 60629]
df = df[df['Zip'].isin(zipcodes_to_keep)]
df

,PropPrice,SoldDate,LivingArea,LandArea,Bedrooms,Bathrooms,Address,City,Zip
1,275000,2024-02-19,1272.0,7532.00,4.0,3.0,244 N Delaware St,Chandler,85225
7,428000,2024-02-16,1480.0,7492.00,3.0,2.0,923 W Mesquite St,Chandler,85225
8,419000,2024-02-16,1300.0,8024.00,3.0,2.0,304 W El Prado Rd,Chandler,85225
9,435300,2024-02-16,1308.0,7823.00,3.0,2.0,1412 E Ironwood Dr,Chandler,85225
10,494000,2024-02-16,1415.0,8407.00,3.0,2.0,663 E Manor Dr,Chandler,85225
...,...,...,...,...,...,...,...,...,...
4829,765000,2024-01-02,2592.0,6969.60,4.0,3.0,5469 NW Meadowlands Ter,Portland,97229
4856,700000,2023-12-29,2146.0,8712.00,4.0,3.0,1837 NW Caitlin Ter,Portland,97229
4857,574000,2023-12-29,2048.0,0.37,3.0,2.0,11060 NW Cornell Rd,Portland,97229
4858,600000,2023-12-29,2520.0,0.41,3.0,3.0,200 NW 101st Ave,Portland,97229
4859,785000,2023-12-29,2947.0,9147.60,5.0,4.0,13027 NW Hartford St,Portland,97229

In [125]:
#arranging order of columns
df = df[['Address', 'City','Zip','SoldDate',
         'Bathrooms','Bedrooms','LivingArea','LandArea','PropPrice']] 
df

,Address,City,Zip,SoldDate,Bathrooms,Bedrooms,LivingArea,LandArea,PropPrice
1,244 N Delaware St,Chandler,85225,2024-02-19,3.0,4.0,1272.0,7532.00,275000
7,923 W Mesquite St,Chandler,85225,2024-02-16,2.0,3.0,1480.0,7492.00,428000
8,304 W El Prado Rd,Chandler,85225,2024-02-16,2.0,3.0,1300.0,8024.00,419000
9,1412 E Ironwood Dr,Chandler,85225,2024-02-16,2.0,3.0,1308.0,7823.00,435300
10,663 E Manor Dr,Chandler,85225,2024-02-16,2.0,3.0,1415.0,8407.00,494000
...,...,...,...,...,...,...,...,...,...
4829,5469 NW Meadowlands Ter,Portland,97229,2024-01-02,3.0,4.0,2592.0,6969.60,765000
4856,1837 NW Caitlin Ter,Portland,97229,2023-12-29,3.0,4.0,2146.0,8712.00,700000
4857,11060 NW Cornell Rd,Portland,97229,2023-12-29,2.0,3.0,2048.0,0.37,574000
4858,200 NW 101st Ave,Portland,97229,2023-12-29,3.0,3.0,2520.0,0.41,600000
4859,13027 NW Hartford St,Portland,97229,2023-12-29,4.0,5.0,2947.0,9147.60,785000

In [126]:
df['Zip'] = df['Zip'].astype(str)
count_value_Portland = df['Zip'].value_counts()['97229']
count_value_NY = df['Zip'].value_counts()['11368']
count_value_Miami = df['Zip'].value_counts()['33186']
count_value_LA=df['Zip'].value_counts()['90210']
count_value_Chicago = df['Zip'].value_counts()['60629']
count_value_Chandler = df['Zip'].value_counts()['85225']

In [127]:
#Getting a count of the property data per city
counts = {
    'Portland': count_value_Portland,
    'NY': count_value_NY,
    'Miami': count_value_Miami,
    'LA': count_value_LA,
    'Chicago': count_value_Chicago,
    'Chandler': count_value_Chandler}
df_counts = pd.DataFrame(counts, index=['Counts'])
df_counts

        Portland   NY  Miami   LA  Chicago  Chandler
Counts        59  212    454  692      600       138

In [128]:
#export cleaned data as csv
df.to_csv('Cleaned_Sold.csv', index=False)

In [134]:
df_inflation = pd.read_csv('Cleaned_Inflation.csv')
df_inflation['StartDate'] = pd.to_datetime(df_inflation['StartDate'])
df_inflation['EndDate'] = pd.to_datetime(df_inflation['EndDate'])

# Convert date columns to YYYY-MM-DD format
df_inflation['StartDate'] = df_inflation['StartDate'].dt.strftime('%Y-%m-%d')
df_inflation['EndDate'] = df_inflation['EndDate'].dt.strftime('%Y-%m-%d')
df_inflation

     StartDate     EndDate  InflationRate  FederalInt  MonthID
0   2021-01-01  2021-01-31           1.40        0.09        1
1   2021-02-01  2021-02-28           1.68        0.08        2
2   2021-03-01  2021-03-31           2.62        0.07        3
3   2021-04-01  2021-04-30           4.16        0.07        4
4   2021-05-01  2021-05-31           4.99        0.06        5
5   2021-06-01  2021-06-30           5.39        0.08        6
6   2021-07-01  2021-07-31           5.37        0.10        7
7   2021-08-01  2021-08-31           5.25        0.09        8
8   2021-09-01  2021-09-30           5.39        0.08        9
9   2021-10-01  2021-10-31           6.22        0.08       10
10  2021-11-01  2021-11-30           6.81        0.08       11
11  2021-12-01  2021-12-31           7.04        0.08       12
12  2022-01-01  2022-01-31           7.48        0.08       13
13  2022-02-01  2022-02-28           7.87        0.08       14
14  2022-03-01  2022-03-31           8.54        0.20       15
15  2022-04-01  2022-04-30           8.26        0.33       16
16  2022-05-01  2022-05-31           8.58        0.77       17
17  2022-06-01  2022-06-30           9.06        1.21       18
18  2022-07-01  2022-07-31           8.52        1.68       19
19  2022-08-01  2022-08-31           8.26        2.33       20
20  2022-09-01  2022-09-30           8.20        2.56       21
21  2022-10-01  2022-10-31           7.75        3.08       22
22  2022-11-01  2022-11-30           7.11        3.78       23
23  2022-12-01  2022-12-31           6.45        4.10       24
24  2023-01-01  2023-01-31           6.41        4.33       25
25  2023-02-01  2023-02-28           6.04        4.57       26
26  2023-03-01  2023-03-31           4.98        4.65       27
27  2023-04-01  2023-04-30           4.93        4.83       28
28  2023-05-01  2023-05-31           4.05        5.06       29
29  2023-06-01  2023-06-30           2.97        5.08       30
30  2023-07-01  2023-07-31           3.18        5.12       31
31  2023-08-01  2023-08-31           3.67        5.33       32
32  2023-09-01  2023-09-30           3.70        5.33       33
33  2023-10-01  2023-10-31           3.24        5.33       34
34  2023-11-01  2023-11-30           3.14        5.33       35
35  2023-12-01  2023-12-31           3.35        5.33       36
36  2024-01-01  2024-01-31           3.09        5.33       37
37  2024-02-01  2024-02-29           3.10        5.33       38

In [135]:
df_inflation.to_csv('updated_inflation.csv', index=False)